div.panelbuttoncontainer {
    /* border: 1px solid grey; */
    padding: 1%;
    margin: 0%;
    /* background-color: black; */
    width: 33%;
    color: white;
}

#panelPicker {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
}

#weatherbuttoncontainer {
    display: none;
}

#transitbuttoncontainer {
    display: none;
}


@media only screen and (max-width: 1440px) {

    #weatherbuttoncontainer {
        display: inline-block;
    }
    
    #transitbuttoncontainer {
        display: inline-block;
    }

}