.App {
  text-align: center;
  /* background-color: black; */
}

.App-link {
  color: #61dafb;
}

html {
  background-color: black;
  color: white;
  text-align: center;
}

header {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
}

p.appheader {
  margin: 0;
  padding: .25%;
  display: inline; 
}

main {
  display: flex;
  flex-wrap: nowrap;
  margin: 0px;
  text-align: center;
  justify-items: stretch;
  width: 100%;
  overflow: hidden;
}

div.sectioncontainer {
  margin: 0 .3%;
  padding: 0;
  width: 100%;
  height: 95vh;
  border-radius: 15px;
}

#panel1 {
  overflow:auto;
  background-color: white;
}

#panel2 {
  overflow: auto;
  background-color: white;
}

#panel3 {
  overflow: auto;
  background-color: white;
}

h1.sectionheader {
  color: black;
  font-size: 1.4rem;
  margin: 0% 0% 1% 0%;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;

}
/* #calendar {
  overflow: auto;
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
  margin: 0;
  padding: 0;
} */

/* #sports {
  overflow: auto;
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  margin: 0;
  padding: 0;
} */

#market {
  overflow: auto;
  margin: 0;
  padding: 0;
  background-color: white;
}

/* #testweather {
  overflow: auto;
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
  margin: 0;
  padding: 0;
} */


/* @media only screen and (min-width: 1000px) and (max-width: 1920px) {

  html {
    font-size: 15px;
  }

main {
  display: flex;
  flex-wrap: wrap;
  width: 99%;
  justify-content: space-between;
  position: absolute;
  column-gap: 0;
  row-gap: 0;
}

div.sectioncontainer {
  width: 49%;
  margin: 2% 0;
  padding: 0;
  margin: 0 0 1% 0;
}

#news {
  overflow:auto;
  height: 60vw;
  margin: 0 0 1% 0;
}

#weather {
  overflow: auto;
  margin: 0 0 1% 0;
}

#mta {
  overflow: auto;
  margin: 0 0 1% 0;
}

#calendar {
  overflow: auto;
  margin: 0 0 1% 0;
}

#sports {
  overflow: auto;
  margin: 1% 0 1% 0;
}

#market {
  overflow: auto;
  margin: 1% 0 1% 0;
}

#testweather {
  overflow: auto;
  margin: 0 0 1% 0;
}

}





@media only screen and (max-width: 1000px) {

  html {
    font-size: 12px;
  }

main {
  display: block;
}

#news {
  overflow:auto;
  display: block;
  margin: 1% 0%;
  height: 150vw;
}

#weather {
  overflow: auto;
  display: block;
  margin: 1% 0%;
}

#mta {
  overflow: auto;
  display: block;
  margin: 1% 0%;
}

#calendar {
  overflow: auto;
  display: block;
  margin: 1% 0%;
}

#sports {
  overflow: auto;
  display: block;
  margin: 1% 0%;
}

#market {
  overflow: auto;
  display: block;
  margin: 1% 0%;
}

#testweather {
  overflow: auto;
  display: block;
  margin: 1% 0%;
} */

/* } */